<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<body bgcolor="#E9E9E9">
$$TABLE_DATA
<div>
    <table cellspacing="0" cellpadding="0" rules="all" border="1" style="background-color:#FFFFCC;color:#333333;width:100%;border-color:#525252;border-collapse:collapse;font-family:Verdana;font-size:10pt;font-weight:normal;">
            <tr>
	            <td align="right" colspan="6">
                        <span id="ctl00_leftContentPlaceHolder_taskView_ctl02_lblTaskHours" style="color:#525252;font-family:Verdana;font-size:10pt;font-weight:normal;">Total time spent during this period = $$TOTAL_TASK_HOURS hrs&nbsp;&nbsp;</span>
                </td>
            </tr>
    </table>
</div>
</body>
</html>