<tr>
	<td align="center" style="width:3%;white-space:nowrap;">
            <span id="ctl00_leftContentPlaceHolder_taskView_ctl02_lblTaskPriority" title="Priority" style="color:White;background-color:$COLOR;font-family:Verdana;font-size:10pt;font-weight:normal;font-weight:bold;display:block;width:50px;">
            $PRIORITY
            </span>
    </td><td align="left" style="width:15%;white-space:nowrap;">
            <span id="ctl00_leftContentPlaceHolder_taskView_ctl02_lblTaskTitle" style="color:#525252;font-family:Verdana;font-size:10pt;font-weight:normal;">$TASK_NAME</span>
    </td><td align="center" style="width:5%;">
            <span id="ctl00_leftContentPlaceHolder_taskView_ctl02_lblTaskType" style="color:#525252;background-color:PaleGoldenrod;font-family:Verdana;font-size:10pt;font-weight:normal;font-weight:normal;display:block;width:90px;">$TASK_STATUS</span>
    </td><td align="center" style="width:6%;">
            <span id="ctl00_leftContentPlaceHolder_taskView_ctl02_lblTaskDueDate" style="color:#525252;font-family:Verdana;font-size:10pt;font-weight:normal;font-weight:normal;display:block;width:75px;">$ASSIGNED_TO</span>
    </td><td align="center" style="width:3%;white-space:nowrap;">
            <span id="ctl00_leftContentPlaceHolder_taskView_ctl02_lblTaskHours" style="color:#525252;font-family:Verdana;font-size:10pt;font-weight:normal;">$HOURS hrs</span>
    </td>
</tr>
